@font-face {
    font-family:"inter-semi";
    src: url("fonts/Inter-SemiBold.woff2");
}
@font-face {
    font-family: "inter-semi-italic";
    src: url("fonts/Inter-SemiBoldItalic.woff2");
}
@font-face {
    font-family:"inter-italic";
    src: url("fonts/Inter-Italic.woff2");
}
@font-face {
    font-family: "inter-reg";
    src: url("fonts/Inter-Regular.woff2");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
.nav_one{
    background-color: #2874f0;
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 56px;
    color: #f0f0f0;
    z-index: 10;
    font-family: "inter-semi";
}
.in-nav{
    display: flex;
    max-width: 1248px;
    width: 100%;
    height: 100%;
    margin-inline: auto;
    /* padding-inline: 8%; */
}
.flip-one{
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
}
.in-flip{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flip-logo{
    width: 75px;
    height: 20.1109px;
}
.flip-logo img{
    width: 75px;
    height: 20.1109px;
}
.explore{
    font-size: 11px;
    margin-top: -1px;
    font-family: "inter-italic";
}
.explore span{
    color: #ffe500;
    font-weight: 500;
    margin-inline: 2px;
}
.explore img{
    width: 10px;
}
form{
    width: 100%;
    background-color: #ffffff;
    display: inline-block;
    box-shadow:0 2px 4px 0 rgba(0,0,0,.23);
    height: 36px;
    max-width: 564px;
    position: relative;
}
.input-div{
    display: flex;
    width: calc(100% - 685px);
    margin: 0 auto 0 12px;
    height: 100%;
    /* min-width: 304px; */
    align-items: center;
    justify-content: flex-start;
}
.in-input{
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
}
.input-div input{
    outline: none;
    border: none;
    width: 100%;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
}
.input-div button{
    background-color:#ffffff;
    height: 36px;
    width: 44px;
    cursor: pointer;
    border: 0;
    padding: 4px 12px 0 8px;
}
.arrow{
    transform: rotate(-90deg);
}
.login{
    align-items: center;
    margin: 0 20px;
    max-width: 150px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}
.seller{
    min-width: 112px;
}
.in-log{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: -0.1px;
    font-weight: 500;
    color: #fff;
    font-family: "inter-semi";
    width: 100%;
    text-align: center;
}
.in-log a{
    width: 100%;
    color: #2874f0;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}
.in-more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: -0.1px;
    color: #ffffff;
    gap: 5px;
}
.more-in img{
    margin-top: 4px;
    margin-left: 4px;
}
.cart-in a{
    height: 100%;
    display: flex;
    align-items: center;
}
.cart-in img{
    width: 16px;
    height: 16px;
    margin: 0 8px;
}
.nav_two{
    /* background: #ff0011; */
    min-height: 40px;
    color: #000;
}
.second-nav{
    background-color: #fff;
    box-shadow:0 1px 1px 0 rgba(0,0,0,.16);
    height: 100%;
    min-height: 40px;
}
.nav-marg{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-height: 40px;
    max-width: 1248px;
}
.text-item, .anchors{
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    /* height: 100%; */
    font-weight: 500;
    font-family: "inter-semi";
    font-size: 13px;
}
.text-item .arrow{
    margin-left: 8px;
    fill: #878787;
    opacity: .5;
}
.arrow.active{
    transform: rotate(270deg);
}
.anchors{
    text-decoration: none;
    color: #000;
}
.anchors:hover{
    color: #2874f0;
}
.text-item:hover{
    color: #2874f0;
}

/* main section */

.main{
    padding: 8px;
    position: relative;
    width: 100%;
    background-color: #f1f3f6;
}
.in-main{
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    display: flex;
    flex-flow: row;
}
.sidebar{
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    flex: 0 0 270px;
    max-width: 270px;
    margin-right: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
}
.in-side{
    display: flex;
    flex-flow: column;
    width: 100%;
}
.padding{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.sideone{
    padding-bottom: 12px;
}
.filter{
    font-size: 18px;
    font-family: "inter-semi";
}
.sidetwo{
    font-size: 14px;
}
.cat-txt{
    font-size: 11px;
    font-weight: 500;
    color: #212121;
    margin-bottom: 5px;
    font-family: "inter-semi";
}
.pad{
    padding: 5px 0;
    color: #212121;
    white-space: nowrap;
}
.m-a{
    display: flex;
    align-items: center;
    text-align: center;
}
.m-a img{
    cursor: pointer;
    margin-inline-end: 5px;
    display: inline-block;
}
.m-a a{
    text-decoration: none;
    color: #878787;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    font-family: "inter-reg";
    font-size: 13px;
}
.mob a{
    font-family: "inter-semi";
    font-size: 12px;
    margin-left: 15px;
}
.price-txt{
    font-family: "inter-semi";
    font-size: 13px;
}
.statusbar{
    height: 25px;
}
.bar{
    height: 100%;
    position: relative;
    bottom: -6px;
}
.inbar{
    height: 25px;
    background: #e0e0e0;
}
.range-bar{
    position: relative;
    height: 13px;
    cursor: pointer;
}
.circle{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    cursor: pointer;
    left: -6.5px;
    width: 100%;
}
.circ{
    width: 13px;
    height: 13px;
    border: 1px solid #bababa;
    border-radius: 50%;
    position: absolute;
    background-color: #ffffff;
}
.circ .left{
    right: 0;
}
.range-bar .rit{
    transform: translateX(100%);

}
.range-bar .grey-line{
    background-color: #c2c2c2;
    height: 2px;
    width: 100%;
    top: 6px;
    display: inline-block;
    position: absolute;
}
.range-bar .blue-line{
    background-color: #2874f0;
    height: 6px;
    top: 4px;
    position: relative;
}
.range-dots{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-top: -12px;
}
.range-dots .dot{
    font-size: 20px;
    color: #c2c2c2;
    width: 47px;
    font-family: "inter-semi";
    display: flex;
    justify-content: center;
}
.minmax{
    margin: 5px -4px 0;
    font-size: 14px;
    color: #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: stretch;
}
.minmax .min{
    display: inline-block;
    flex-grow: 2;
}
.minmax select{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    appearance: none;
    background: #fff url("images/download.svg") no-repeat 90% 50%;
    height: 24px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
    padding: 0 5px;
    outline: none;
}
.minmax select option{
    padding: 0 7px;
}
.minmax span{
    margin-inline: 9px;
    flex-grow: 1;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #878787;
    font-family: "inter-reg";
}
.minmax .max{
    display: inline-block;
    flex-grow: 2;
} 
.spans{
    cursor: pointer;
    padding: 16px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    font-family: inter-semi;
}
.brand-head{
    margin: -16px;
}
.brand-head span{
    width: 100%;
}
.spans img{
    transform: rotate(90deg);
    width: 6px;
    height: 11px;
    cursor: pointer;
}
.brand-cont-top{
    margin: 7px 0;
}
.search-brand{
    margin-bottom: 7px;
    position: relative;
}
.search-brand img{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 20%;
}
.search-brand input{
    width: 100%;
    /* border: none; */
    border-inline: 2px ;
    border-top: 2px;
    border-color: #e0e0e0;
    height: 20px;
    font-size: 13px;
    padding:0 0 5px 25px;
    color: #878787;
    outline: none;
}
.checkbox-content{
    padding: 3px 0;
}
.check-pad{
    padding: 3px 0;
}
.check-pad label{
    display: flex;
    width: 100%;
    padding: 3px 0;
} 
.checkText{
    width: calc(100% - 14px - 11px);
    padding-left: 11px;
    color: #212121;
    font-size: 13px;
    font-family: inter-reg;
}
.brand-more{
    font-size: 11px;
    font-weight: 500;
    color: #2874f0;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 9px;
    font-family: inter-semi;
}
.f-assured{
    display: flex;
    align-items: center;
}
.f-assured label{
    cursor: pointer;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.f-assured label img{
    height: 21px;
    padding-inline-start: 14px;
}
.f-assured div{
    display: inline-block;
    position: relative;
}
.f-assured div span{
    color: #878787;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
    margin: 0 2px 0 8px;
    cursor: pointer;
    background-color:#fff;
    border-radius: 50%;
    font-weight: 600;
}
.rating-top{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating-top span{
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing:0.3px;
}
.rating-bot{
    margin: 7px 0;
}
.top-cont{
    padding: 0;
}
.botm-cont label{
    display: flex;
    flex-direction: column;
}


@media (max-width:1140px) {
.nav-marg{
    max-width: 978px;
}
}